<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Login</title>
</head>

<body>

<div layout:fragment="content">

  <div th:if="${notice}" class="flash-message">
    <h3>[[${notice}]]</h3>
  </div>

  <form action="#" th:action="@{/users/login}" th:object="${user}" method="post" class="login-form">
    <div>
      <label>Email:</label>
      <input type="text" th:field="*{email}"/>
    </div>
    <div>
      <label>Password:</label>
      <input type="password" th:field="*{password}"/>
    </div>
    <div>
      <button type="submit">Login</button>
    </div>
  </form>



  <form action="#" th:action="@{/users}" th:object="${user}" method="post" class="signup-form">
    <div>
      <label>Username:</label>
      <input type="text" th:field="*{username}"/>
    </div>
    <div>
      <label>Email:</label>
      <input type="text" th:field="*{email}"/>
    </div>
    <div>
      <label>Password:</label>
      <input type="password" th:field="*{password}"/>
    </div>
    <div>
      <button type="submit">Signup</button>
    </div>
  </form>
</div>

</body>
</html>